<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/principal}" th:with="titulo='Novo Correntista'">
<body>
    <div layout:fragment="conteudo">
      <form th:action="@{/correntistas}" method="POST" th:object="${correntista}">
        <input type="hidden" th:field="*{id}" />
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" th:field="*{nome}" />

        <label for="nome" class="form-label">Senha:</label>
        <input type="password" class="form-control" th:field="*{senha}" />

        <label for="nome" class="form-label">Email:</label>
        <input type="text" class="form-control" th:field="*{email}" /><br />

        <div class="form-check">
          <label class="form-check-label" for="admin">Administador ?</label>
          <input type="checkbox" class="form-check-input" th:field="*{admin}" />
        </div>
        <br />

        <input type="submit" class="btn btn-primary" value="Salvar" />
        <a class="btn btn-secondary" th:href="@{/correntistas}">Cancelar</a>
      </form>
    </div>
  </body>
</html>